In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
# Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame


weather_data_to_load = "output_data_cities.csv"
weather_data = pd.read_csv(weather_data_to_load)
dropna_weather_data = weather_data.dropna()
# del dropna_weather_data["Unnamed: 0"]
dropna_weather_data.head(20)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,67,hambantota,40,LK,1558378766,100,6.12,81.12,80.60,3.36
1,159,manado,40,ID,1558378784,100,1.49,124.85,73.40,4.97
2,177,keflavik,75,IS,1558378788,100,64.00,-22.56,51.01,9.17
3,212,mount gambier,90,AU,1558378628,100,-37.83,140.78,53.60,8.05
4,243,buchach,75,UA,1558378822,100,49.06,25.39,70.00,2.24
5,283,christchurch,1,NZ,1558378744,100,-43.53,172.64,51.01,3.36
6,289,union,90,US,1558378842,100,47.36,-123.10,57.20,8.05
7,358,alyangula,100,AU,1558378858,100,-13.85,136.42,71.60,3.36
8,372,shimoda,75,JP,1558378860,100,34.70,138.93,68.00,11.41
9,398,grindavik,75,IS,1558378871,100,63.84,-22.43,51.01,9.17
10,418,ahipara,99,NZ,1558378875,100,-35.17,173.16,55.00,9.51
11,59,bontang,54,ID,1558378765,99,0.12,117.47,74.22,2.62
12,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
13,116,xam nua,100,LA,1558378775,98,20.42,104.04,67.38,2.17
14,121,sitka,100,US,1558378776,98,37.17,-99.65,48.99,11.99
15,143,yichun,89,CN,1558378781,98,47.72,128.88,41.64,3.58
16,235,banjar,86,ID,1558378616,98,-7.37,108.54,73.86,1.14
17,352,biak,81,ID,1558378857,98,-0.91,122.88,65.40,3.27
18,478,samarinda,52,ID,1558378886,98,-0.50,117.14,75.30,2.08
19,204,severo-kurilsk,99,RU,1558378793,97,50.68,156.12,39.66,15.10